{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    },
    "transform": null,
    "target": "es5",
    "externalHelpers": true
  },
  "module": {
    "type": "umd",
    "lazy": false,
    "noInterop": false
  }
}