{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": null,
    "target": "es5",
    "externalHelpers": true
  },
  "module": {
    "type": "es6",
    "lazy": true,
    "noInterop": false
  }
}