@keyframes moving-polkadots {
  from {
    background-position: 0px 0px, 50px 50px;
  }
  to {
    background-position: 50px 50px, 100px 100px;
  }
}

@keyframes barberpole {
  from {
    background-position: 100% 100%;
  }
  to {
    background-position: 0% 0%;
  }
}
