// colors and backgrounds

// whites and neutrals
$white: #ffffff;
$ecru-white: #f7f4e6;
$soapstone: #ece3da;
$orange-white: #e5e2ce;
$albescent-white: #e0dbca;

// grays
$silver-sand: #bababa;
$bon-jour: #e2e2e2;

// browns
$domino: #695b4d;
$van-cleef: #503c35; // primary darkened
$jambalaya: #624c37;
$olive-haze: #8c7c64;
$donkey-brown: #a39277; // canvas polkadot color
$bison-hide: #b6a79a;

// bluish greens
$tiffany-blue: #00b6a9; // primary blush-ish green
$tiffany-blue-light: #13c3b2;
$turquoise: #4fe1d6;

$robin-egg-blue: #00d2c2;
$persian-green: #00a797;
$frosted-mint: #e0fff7;

// pinks
$piggy-pink: #ffd8e2;
$cinderella: #f7d7c9;
$cannon-pink: #893e5d;
$geraldine: #fd8093;

$salmon: #fca4b1;
$light-pink: #ffafbc;
$azalea: #fbbbc2;
$pink-lace: #ffcad2;
$provincial-pink: #fff7f2;

// greens
$chrome-white: #e6f0cf;

@mixin polkadots($primary, $secondary) {
  background-image: radial-gradient($secondary 2px, transparent 2px), radial-gradient($secondary 2px, transparent 2px);
  background-color: $primary;
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  background-repeat: repeat;
}

@mixin moving-polkadots($duration: 5s) {
  @keyframes moving-polkadots {
    from {
      background-position: 0px 0px, 50px 50px;
    }
    to {
      background-position: 50px 50px, 100px 100px;
    }
  }
  animation: moving-polkadots $duration linear infinite;
}

@mixin stripes($first, $second, $width) {
  background-image: repeating-linear-gradient(-45deg, $first, $first $width, $second $width, $second $width * 2);
  background-size: 200% 200%;
}

@mixin moving-stripes($duration: 20s) {
  @keyframes barberpole {
    from {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  animation: barberpole $duration linear infinite;
}
