$ecru-white: #f7f4e6;

// grays
$silver-sand: #bababa;
$bronco: #aca094;

// browns
$van-cleef: #503c35;
$sand-dune: #8a7b67;
$domino: #695b4d; // sand-dune shadow color
$umber: #655040; // super dark for toolbar
$ash: #C8BEB3;
$schooner: #8a827b; // text on top of ash

// bluish greens
$tiffany-blue: #00B6A9;
$pine-green: #037269;
$tiffany-blue-light: #13c3b2;
$turquoise: #4fe1d6;
$frosted-mint: #e0fff7;
$puerto-rico: #31c2b2;


// pinks
$pink: #fdbfc7;
$piggy-pink: #ffd8e2;
$pastel-pink: #ffced5;
$misty-rose: #ffe5e0;
$blossom: #E7AFB4;
$salmon: #FCA4B1;
$dust-storm: #e3ccc8;
$cannon-pink: #893e5d;



// stripes
$tiffany-stripes: repeating-linear-gradient(
  -45deg,
  $tiffany-blue-light,
  $tiffany-blue-light 15px,
  $tiffany-blue 15px,
  $tiffany-blue 30px
);
