$ecru-white: #f7f4e6;
$pink: #fdbfc7;
$van-cleef: #503c35;
$silver-sand: #bababa;
$sand-dune: #8a7b67;
$domino: #695b4d;
$misty-rose: #ffe5e0;
$tiffany-blue: #00B6A9;
$tiffany-blue-light: #13c3b2;
$piggy-pink: #ffd8e2;
$pastel-pink: #ffced5;
$umber: #655040;
$salmon: #FCA4B1;
$blossom: #E7AFB4;
$frosted-mint: #e0fff7;
$bronco: #aca094;