// colors and backgrounds

// whites
$white: #FFFFFF;
$ecru-white: #F6F4E3;

// grays
$silver-sand: #bababa;
$bon-jour: #E2E2E2;

// browns
$domino: #695b4d;
$van-cleef: #503c35; // primary darkened
$jambalaya: #624C37;
$olive-haze: #8C7C64;
$donkey-brown: #a39277; // canvas polkadot color
$bison-hide: #B6A79A;


// bluish greens
$tiffany-blue: #00B6A9; // primary blush-ish green
$tiffany-blue-light: #13c3b2;
$turquoise: #4fe1d6;


$robin-egg-blue: #00D2C2;
$persian-green: #00A797;
$frosted-mint: #e0fff7;
$dull-cyan: #47C6BD;


// pinks
$piggy-pink: #ffd8e2;
$cinderella: #f7d7c9;
$cannon-pink: #893e5d;
$geraldine: #fd8093;


$salmon: #FCA4B1;
$light-pink: #FFAFBC;
$azalea: #FBBBC2;
$pink-lace: #FFCAD2;
$provincial-pink: #FFF7F2;


@mixin polkadots($primary, $secondary) {
  background-image: radial-gradient($secondary 2px, transparent 2px),
      radial-gradient($secondary 2px, transparent 2px);
  background-color: $primary;
  background-position: 0 0, 50px 50px;
  background-size: 20px 20px;
  background-repeat: repeat;
}

@mixin moving-polkadots ($duration: 5s) {
  @keyframes moving-polkadots {
    from {
      background-position: 0px 0px, 50px 50px;
    }
    to {
      background-position: 50px 50px, 100px 100px;
    }
  }
  animation: moving-polkadots $duration linear infinite;
}

@mixin stripes($first, $second, $width) {
  background-image: repeating-linear-gradient(
    -45deg,
    $first,
    $first $width,
    $second $width,
    $second $width * 2,
  );
  background-size: 200% 200%;
}

@mixin moving-stripes($duration: 20s) {
  @keyframes barberpole {
    from {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
  animation: barberpole $duration linear infinite;
}