// foreground and background colors of the icons

// updates
$copper: #e49366; // primary background
$wax-flower: #edb799; // secondary background

// brows
$keppel: #5bbf98;
$pearl-aqua: #83d8bb;

// editor
$salmon: #fca4b1;
$pink: #fdbfc7;

// faq
$cream-can: #f8cc61;
$cape-honey: #fbe1a3;

// discord
$portage: #8b9df3;
$perano: #b3bdfd;

// home
$pastel-red: #ff6b62;
$cream-can: #f8cc61;

// about us
$de-york: #89c68a;

// twitter
$portage: #8b9df3;
