@import "styles/colors.scss";
@import "styles/animations";

@mixin reset-button-properties {
  // reset
  appearance: none;
  border: 0px;
  padding: 0px;
  outline: none;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
}

@mixin relative-in-place {
  position: relative;
  top: 0;
  left: 0;
}

@mixin relative-center {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@mixin absolute-center {
  @include relative-center();
  position: absolute;
}

@mixin flex-container--center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

@mixin invisible {
  opacity: 0;
  pointer-events: none;
}

@mixin visible {
  opacity: 1;
  pointer-events: all;
}

@mixin pink-stripes($stripe-width: 20px) {
  background: repeating-linear-gradient(
    -45deg,
    $pastel-pink,
    $pastel-pink $stripe-width,
    $piggy-pink $stripe-width,
    $piggy-pink $stripe-width * 2,
  );
  background-size: 200% 200%;
}

@mixin tiffany-stripes($stripe-width: 20px) {
  background: repeating-linear-gradient(
    -45deg,
      $tiffany-blue-light,
      $tiffany-blue-light $stripe-width,
      $tiffany-blue $stripe-width,
      $tiffany-blue $stripe-width * 2,
    );
  background-size: 200% 200%;
}

@mixin moving-stripes($duration: 20s) {
  animation: barberpole $duration linear infinite;
}