@use "styles/colors" as colors;

@mixin v-btn(
  $text-color: colors.$ecru-white,
  $background-color: colors.$olive-haze,
) {
  text-transform: none;
  font-weight: 600;
  letter-spacing: normal;
  color: $text-color !important;
  background-color: $background-color !important;
  &::v-deep > .v-btn__content {
    @content;
  }
}

@mixin v-text-field(
  $text-color: colors.$jambalaya,
  $background-color: colors.$cinderella,
  $border-color: colors.$olive-haze,
  ) {
  &::v-deep {
    input {
      color: $text-color;
      font-weight: 600;
    }
    .v-input__slot {
      background-color: $background-color;
      label { color: $text-color !important; }
    }
    &:not(.v-input--is-focused) { fieldset { border-color: $border-color; }}
    &.v-input--is-focused {
      fieldset { border-color: $border-color; }
      .v-label--active { color: $text-color !important; }
    }
    .v-messages__message { color: $text-color !important }
    button[aria-label="clear icon"] { color: $text-color !important; }
    @content;
  }
}

@mixin v-select(
  $text-color: colors.$jambalaya,
  $background-color: colors.$cinderella,
  $border-color: colors.$olive-haze 
) {
  &::v-deep {
    .v-input__icon .v-icon { color: $text-color !important; }
    .v-select__selections { color: $text-color; }
    .v-input__slot {
      background-color: $background-color; 
      label { color: $text-color !important; }
    }
    &:not(.v-input--is-focused) { fieldset { border-color: $border-color; }}
    &.v-input--is-focused {
      fieldset { border-color: $border-color; }
      .v-label--active { color: $text-color !important; }
    }
    @content;
  }
}

@mixin v-menu(
  $text-color: colors.$jambalaya,
  $background-color: colors.$cinderella,
  $hover-color: colors.$salmon,
) {
  box-shadow: none;
  .v-list { @include v-list($text-color, $background-color); }
  @content;
}

@mixin v-list(
  $text-color: colors.$jambalaya,
  $background-color: colors.$cinderella,
  $hover-color: rgba(0, 0, 0, 0),
) {
  background-color: $background-color;
  .v-list-item {
    @include v-list-item(
      $text-color,
      $background-color, 
      $hover-color
    )
  }
  @content;
}

@mixin v-list-item(
  $text-color: colors.$jambalaya,
  $background-color: colors.$cinderella,
  $hover-color: rgba(0, 0, 0, 0),
) {
  &:hover { background-color: $hover-color !important }
  .v-list-item__content { color: $text-color !important; }
  .v-list-item__title { color: $text-color !important; }
  &.v-list-item--active { color: black !important; }
  @content;
}

@mixin v-stepper-step($text-color) {
  &::v-deep {
    .v-stepper__step--active,
    .v-stepper__step--complete {
      .v-stepper__label {
        color: $text-color,
      }
    }
  }
}

@mixin v-pagination(
  $text-color,
  $background-color,
  $hover-background-color,
) { 
  &::v-deep {
    .v-pagination__navigation,
    .v-pagination__item {
      box-shadow: unset !important;
      color: $text-color !important;
      background-color: $background-color !important;
      &:not(.v-pagination__navigation--disabled) {
        .v-icon {
          color: $text-color !important
        }
      }
      &:hover,
      &.v-pagination__item--active {
        background-color: $hover-background-color !important;
      }
    }
  }
}

@mixin v-tabs(
  $text-color,
  $background-color,
) {
  .v-tab { @include v-tab($text-color); }
  &::v-deep {
    .v-tabs-bar {
      background-color: $background-color !important;
      .v-tab {
        @include v-tab($text-color);
      }
    }
    @content;
  }
}

@mixin v-tab($text-color) {
  &::v-deep {
    color: $text-color !important;
    @content;
  }
}

@mixin v-tabs-items($background-color) {
  &::v-deep {
    background-color: $background-color !important;
    @content;
  }
}