// assume that styles START from phone size scss
// assume mobile portrait is defualt, don't need media query for it
$break-phone-landscape: 480px;
$break-tablet-portrait: 768px;
$break-tablet-landscape: 992px;
$break-desktop: 1200px;
$break-desktop-hd: 1400px;

// mobile is both phone and tablet
@mixin respond-to($breakpoint) {
  @media only screen and (min-width: $breakpoint) {
    @content;
  }
}

@mixin phone-landscape {
  @include respond-to($break-phone-landscape) {
    @content;
  }
}

@mixin tablet-portrait {
  @include respond-to($break-tablet-portrait) {
    @content;
  }
}

@mixin tablet-landscape {
  @include respond-to($break-tablet-landscape) {
    @content;
  }
}

@mixin desktop {
  @include respond-to($break-desktop) {
    @content;
  }
}

@mixin desktop-hd {
  @include respond-to($break-desktop-hd) {
    @content;
  }
}


// for copy/pasting
@include phone-landscape {

}
@include tablet-portrait {

}
@include tablet-landscape {

}
@include desktop {

}
@include desktop-hd {

}