
.container {
  padding: 0px 40px 35px 35px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-content: center;
  column-gap: 50px;

  max-height: 450px;

  @include tablet-landscape {
    grid-template-columns: auto auto;
    overflow-y: scroll;
  }
}

// sticky
.left-side {
  padding-top: 30px;
  justify-self: center;
  align-self: flex-start;

  position: relative;
  top: 0;
  left: 0;

  display: grid;
  grid-template-areas:
    "preview preview";
  row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: auto;

  justify-content: center;
  justify-items: center;
  align-content: space-between;
  align-items: auto;
  
  @include tablet-landscape {
    position: sticky;
  }
}

.preview-container {
  grid-area: preview;

  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;

  @include polkadots($olive-haze, $donkey-brown);
  @include moving-polkadots(2s);
  width: 250px;
  height: 300px;
  padding: 20px;
  border-radius: 8px;

    
  @include phone-landscape {
    width: 350px;
  }
  
  & .preview {
    display: block;
    // max-width: 350px;
    // max-height: 300px;
    width: 100%;
    height: 100%;
    
    object-fit: contain;
    
    // // need this or its blurry
    image-rendering: pixelated;
  }
}

.right-side {
  padding-top: 30px;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-content: stretch;
  justify-items: stretch;
  row-gap: 30px;

  min-width: 250px;
  padding-bottom: 30px;
}

.slider-option {
  & .slider-option-title {
    color: $domino;
    font-size: 1.2rem;
    font-weight: 600;
  }

  & > input {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
}

.radio-options {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-template-rows: auto;
  justify-content: flex-start;
  justify-items: stretch;
  align-content: flex-start;
  align-items: flex-start;

  row-gap: 15px;
}

.radio-options-title {
  color: $domino;
  font-size: 1.2rem;
  font-weight: 600;
}

.radio-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  font-weight: 600;
  background-color: $albescent-white;
  color: $domino;
  &.active {
    background-color: $domino;
    color: $ecru-white;
  }
  padding: 10px;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
  }
  &.active:hover {
    cursor: default;
  }
}

.radio-option-indicator {
  border-radius: 10px;
  width: 10px;
  height: 10px;
  background-color: $ecru-white;
  margin-right: 10px;
}

.checkbox-option {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  background-color: $albescent-white;
  border-radius: 8px;
  color: $domino;
  font-weight: 600;
  margin: 15px 0;
  padding: 10px;

  &.active {
    background-color: $domino;
    color: $ecru-white;
  }

  &:hover {
    cursor: pointer;
  }

  input {
    width: 10px;
    height: 10px;
    background-color: $ecru-white;
    margin-right: 10px;
  }
}