@import "reset-css";
@import "styles/colors";

$main-font: 'Nunito';
$bg-color: $ecru-white;
$color: $sand-dune;
$font-size: 16px;

html {
  height: 100%;
  overflow-y: scroll;
  font-size: 16px;
}

body {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  background-color: $bg-color;
  color: $color;

  font-family: $main-font;
  font-weight: 700;
}

a {
  text-decoration: none;
}