@import "reset-css";
$main-font: 'Nunito';
$bg-color: #f7d2d6;
$color: #7E7261;
$link-color: #E98394;
$link-hover: #EC637A;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  overflow-x: hidden;
  display: block;
}

body {
  background-color: $bg-color;
  color: $color;
  font-family: $main-font;
  min-height: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
}
