@import "reset-css";
$main-font: 'Nunito';
$bg-color: #f7d2d6;
$color: #7E7261;
$link-color: #E98394;
$link-hover: #EC637A;

html {
  height: 100%;
  overflow-y: scroll;
}

body {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  background-color: $bg-color;
  color: $color;
  font-family: $main-font;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-hover;
}
